<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Фавікон -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/dashboard.css' rel='stylesheet' />

    <title>{{page.title}}</title>
</head>

<body>

    <div class="page page--dashboard">
        <aside class="page__aside aside vertical vertical--big">
            <div class="aside__logo text">
                Sidebar
            </div>
            <nav class="vertical vertical--small">
                <a href="#" class="nav-button nav-button--active click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/home.svg')"></span>
                    <span class="text text--light">Home</span>
                </a>

                <a href="#" class="nav-button  click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/orders.svg')"></span>
                    <span class="text text--light">Orders</span>
                </a>

                <a href="#" class="nav-button  click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/products.svg')"></span>
                    <span class="text text--light">Products</span>
                </a>

            </nav>
        </aside>
        <header class="header">
            <div class="layout header__content text--small">
                <div class="header__search">
                    <input type="text" placeholder="Search" class="text field field--header">
                    <span class="icon icon__header--search"
                        style="background-image: url('/svg/header/search.svg')"></span>
                    <span class="icon icon__header--settings icon--button icon--color-blue click"
                        style="background-image: url('/svg/header/settings.svg')"></span>
                </div>

                <div class="header__burger">
                    <div class="middle__line"></div>
                </div>

                <div class="header__icons">
                    <span class="icon header__right-icons icon--color--yellow icon--button icon--color-blue click"
                        style="background-image: url('/svg/header/signal.svg')"></span>
                    <span class="icon header__right-icons icon--color--primary icon--button icon--color-blue click"
                        style="background-image: url('/svg/header/translete.svg')"></span>
                    <span class="icon header__right-icons icon--color--yellow  icon--button icon--color-blue click"
                        style="background-image: url('/svg/header/bell.svg')"></span>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="layout">

                <section class="box analytic__block">

                    <div class="analytic analytic--double analytic--purple">
                        <span class="icon analytic__button icon--button icon--color-purple click"
                            style="background-image: url('/svg/analytic/money.svg')"></span>

                        <div class="analytic__content vertical vertical--small">
                            <div class="analytic__title text text--light">
                                $500.00
                            </div>

                            <div class="analytic__info text text--small text--lighter">
                                Total earning
                            </div>

                            <span class="icon analytic__arrow"
                                style="background-image: url('/svg/analytic/arrow.svg')"></span>
                        </div>
                    </div>

                    <div class="analytic analytic--double   analytic--blue analytic--double--blue">
                        <span class="icon analytic__button icon--button icon--color-blue click"
                            style="background-image: url('/svg/analytic/total_order.svg')"></span>

                        <div class="analytic__content vertical vertical--small">
                            <div class="analytic__title text text--light">
                                $961
                            </div>

                            <div class="analytic__info text text--small text--lighter">
                                Total order
                            </div>

                        </div>
                    </div>


                    <div class="analytic analytic--standart analytic--blue">
                        <span class="icon analytic__button icon--button icon--color-blue click"
                            style="background-image: url('/svg/analytic/money.svg')"></span>

                        <div class="analytic__content vertical vertical--extra-small">
                            <div class="analytic__balance text text--light text--bold">
                                $203k
                            </div>

                            <div class="analytic__info text text--balance text--lighter">
                                Total Income
                            </div>
                        </div>
                    </div>
                    <div class="analytic analytic--standart analytic--white">
                        <span class="icon analytic__button icon--button icon--color-yellow click"
                            style="background-image: url('/svg/analytic/shop.svg')"></span>

                        <div class="analytic__content vertical vertical--extra-small">
                            <div class="analytic__balance text text--bold">
                                $203k
                            </div>

                            <div class="analytic__info text text--balance text--gray">
                                Total Income
                            </div>
                        </div>
                    </div>
                </section>

                <div class="main-position">
                    <div class="position-block">
                        <section class="box purchase__block">
                            <div class="purchase">
                                <div class="purchase__title text text--heading">
                                    Purchase list
                                </div>

                                <div class="divider"></div>

                                <div class="purchase__operation text">
                                    <div class="id">ID437661</div>
                                    <div class="model">AirOn ProCam</div>

                                    <div class="price">132.32 EUR</div>
                                    <div class="name">Customer</div>

                                    <div class="date">May 11, 2023, 14:21</div>
                                    <div class="model">7/8 USB Type-C</div>

                                    <div class="status status--warning">Not paid</div>
                                    <div class="email">robin@com.de</div>
                                </div>

                                <div class="divider"></div>

                                <div class="purchase__operation text">
                                    <div class="id">ID437661</div>
                                    <div class="model">PHILIPS Essential</div>

                                    <div class="price">543 USD</div>
                                    <div class="name">Customer</div>

                                    <div class="date">May 11, 2023, 14:21</div>
                                    <div class="model">HD9200/90</div>

                                    <div class="status status--success">Pay by Stripe</div>
                                    <div class="email">dima@com.ua</div>
                                </div>
                            </div>
                        </section>

                        <section class="box payment__block">
                            <div class="payment">
                                <div class="payment__title text text--heading">
                                    Payment
                                </div>

                                <div class="divider"></div>

                                <div class="radio__block text">
                                    <div class="radio__element">
                                        <input type="radio">
                                        <label for="contactChoice1">Credit card</label>
                                    </div>

                                    <div class="radio__element">
                                        <input type="radio">
                                        <label for="contactChoice1">Debit card</label>
                                    </div>

                                    <div class="radio__element">
                                        <input type="radio">
                                        <label for="contactChoice1">PayPal</label>
                                    </div>
                                </div>

                                <div class="payment-input-block text">
                                    <div class="name__input input--payment">
                                        <label for="">Name on card</label>
                                        <input class="input__field" type="text">
                                    </div>

                                    <div class="card-number__input input--payment">
                                        <label for="">Credit card number</label>
                                        <input class="input__field" type="text">
                                    </div>

                                    <div class="expiration__input input--payment">
                                        <label for="">Expiration</label>
                                        <input class="input__field" type="text">
                                    </div>

                                    <div class="cvv__input input--payment">
                                        <label for="">CVV</label>
                                        <input class="input__field" type="text">
                                    </div>
                                </div>

                                <div class="divider"></div>

                                <div class="select-block text">

                                    <div class="country__select payment--select">
                                        <label>Country</label>
                                        <div class="field-block relative">
                                            <div class="field field--select">
                                                <span class="text">Choose...</span>
                                                <span class="icon icon__field--select"
                                                    style="background-image: url('/svg/select.svg')"></span>
                                                <select class="field__select text text--gray">
                                                    <option value="Animals">Dog</option>
                                                    <option value="Animals">Dog</option>
                                                    <option value="Animals">Dog</option>
                                                    <option value="Animals">Dog</option>
                                                    <option value="Animals">Dog</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="state__select payment--select">
                                        <label>State</label>
                                        <div class="field-block relative">
                                            <div class="field field--select">
                                                <span class="text">Choose...</span>
                                                <span class="icon icon__field--select"
                                                    style="background-image: url('/svg/select.svg')"></span>
                                                <select class="field__select text text--gray">
                                                    <option value="State">Nevada</option>
                                                    <option value="State">California</option>
                                                    <option value="State">Florida</option>
                                                    <option value="State">North Carolina</option>
                                                    <option value="State">Texas</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="divider"></div>

                                <div class="payment-button">
                                    <button class="payment__primary-button text text--light click">Continue to
                                        checkout</button>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
    </div>

</body>

</html>