:root {
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 36px;

    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    
    --color-border:#DEE2E6;
    --color-primary: rgb(71, 71, 246);
    --color-white: #fff;
    --color-title: #5a5a5a;
    --color-text: #343a40;

    --border-radius: 12px;

    --weight-title: 500;
    --weight-text: 400;

}


body {
    font-family: 'Roboto', sans-serif;
}

/* ?? =========================================== */

/*! Фон */
.page {
    background: var(--color-white);
    padding: 0 15px;

    display: flex;
    justify-content: center;
}

/*! Задаємо максимальну ширину для контенту */
.page_content {
    max-width: 960px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 80px;
}

/* ?? =========================================== */

.header {
    padding: var(--space-l) 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
}

.logo {
    font-size: 17px;
    background: var(--color-primary);
    color: var(--color-white);
    width: 24px;
    height: 24px;
    border-radius: calc(var(--border-radius) /2);
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav {
    display: flex;
}

.nav_inline {
    gap: var(--space-l)
}

.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link {
    color: var(--color-text);
    font-size: var(--size-d);
    text-decoration: none;
    line-height: 100%;
}

.nav_link:hover {
    text-decoration: underline;
    color: var(--color-primary);
    transition: 0.3s;
}

/* .nav_vertical > .nav_link {
    display: block;
    
  }


  .header_nav_right {
    margin-left: auto;
    width: fit-content;
  } */



.footer {
    padding: var(--space-l) 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-border);
}

.footer_copyright {
    font-size: var(--size-s);
    color: var(--color-text);
    display: block;
    margin: var(--space-l) 0 0 0;
}

.footer_title {
    font-size: var(--size-l);
    color: var(--color-title);
    display: block;
    margin-bottom: var(--space-l);
    font-weight: var(--weight-title);
}

/* ?? =========================================== */

.hero {
    display: flex;
    align-items: center;
    gap: var(--space-b);

    padding: var(--space-b);
    border-top: 1px solid var(--color-border);
}

.hero_image {
    width: 500px;
    height: 500px;
    border-radius: var(--border-radius);
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

.hero_title{
    font-size: 50px;
    color: var(--color-title);
    font-weight: var(--weight-title);
    line-height: 120%;
}

.hero_text {
    color: var(--color-text);
    font-size: var(--size-l);
    font-weight: var(--weight-text);
    line-height: 170%;
}

/* ?? =========================================== */

.blog {
    display: flex;
    gap: var(--space-b);

    padding: var(--space-b);
    border-top: 1px solid var(--color-border);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--space-l);
}

.card_image{
    height: 140px;
    width: 140px;
    clip-path: circle();
}

.card_title{
    font-size: 32px;
    font-weight: var(--weight-title);
}

.card_text{
    font-weight: var(--weight-text);
    font-size: var(--size-d);
    color: var(--color-text);
}

.button{
    display: inline-block;
    font-size: var(--size-d);
    padding: var(--space-m) var(--space-xm);
    text-decoration: none;
    font-size: var(--size-d);
    border-radius: var(--border-radius);
}

.card_button{
    color: var(--color-white);
    background-color: #6C757D;    
}

/* ?? =========================================== */

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #563D7C;
    padding: var(--space-l);
    border-radius: var(--border-radius);
}

.form_content {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.form_title {
   font-size: 27px;
   font-weight: var(--weight-title);
   color: var(--color-title);
}

.form_info{
    font-size: var(--size-d);
    font-weight: var(--weight-text);
    color: var(--color-white);
}

.form_button{
    background-color: var(--color-white);
    width: 100%;
    max-width: 160px;
    color: var(--color-text);
}