<header class="header">
    <div class="">
        {{> logo}}
    </div>

    <nav class="header-nav">
        <div class="header_nav_right">
            {{> nav list=header}}
        </div>
    </nav>

</header>